@{
    ViewBag.Title = "About SDK";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The SDK empowers application developers with the ability to quickly build core group functionality into their apps to increase customer engagement, leading to increased conversions and revenue.</p>
